*.sln
*.v11
*.unityproj
*.pidb
*.csproj
launch.json
/.vscode/
*#*
Library/*
Assembly-*
*.userprefs
Temp/*
.DS_Store
*.apk
*.ipa
#Fast Platform Switch
/LocalCache/
/Library/
/obj/
/Temp/
*.suo
build/*
/.vs/
/Builds/
Assets/Temp
/.idea/
/Assets/Plugins/Editor/JetBrains/
*.sln.DotSettings.user
/screenshots/
*.pdf